.Inicio-venta{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nova Square', sans-serif;
    font-size: $font-medium;
}

.h1-ventas{
    font-family: 'Nova Square', sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    font-size: $font-xxl;
    margin-top: 3rem;
}

.link-venta{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nova Square', sans-serif;
    font-size: $font-xl;
    justify-content: center;
    gap: 10rem;
    padding: 5rem;
    
}

.card-body{
    font-family: 'Nova Square', sans-serif;
}
